@import "tailwindcss";
@import "./typhography.css";

:root {
  --bg: #F6F8FF;
  --text: #4B6A9B;
  --card-bg: #FEFEFE;
  --lightblue: #0079FF;
  --lightblue-hover: #60ABFF;
  --darkblue: #2B3442;
  --lightgray: #697C9A;
}

.dark {
  --bg: #141D2F;
  --text: #FFFFFF;
  --card-bg: #1E2A47;
  --lightblue: #0079FF;
  --lightblue-hover: #60ABFF;
  --darkblue: #FFFFFF;
  --lightgray: #FFFFFF;
}

html,
body {
  background-color: var(--bg);
  transition: background-color 0.3s;
}